<div class="container">
  
  <div class="row mt-5">
    <div class="col">
      <div class="container" id="jumbotron">
        <div class="display-6" id="headline">
          <strong>Welcome to TeamingUp</strong>    
        </div>
        <div class="lead mt-1" id="lead">
          The project management app.  
        </div>
      </div>
    </div>
  </div>

</div>