@import "font-awesome";
@import "bootstrap";

/* Page styling */

#page-content {
  background-color: rgb(252, 248, 255);
  flex: 1 0 auto;
}

html, body {
  height: 100%;
}

/* Footer styling */

#sticky-footer {
  flex-shrink: none;
}

/* Jumbotron styling */

#jumbotron {
  background-image: linear-gradient(rgb(255, 136, 0), rgb(231, 139, 0));
  height: 300px;
  border-radius: 40px;
  color: white;
}

#headline {
  padding-top: 102px;
  padding-left: 40px;
}

#lead {
  padding-left: 40px;
}

/* Navbar styling */

#logo-display {
  height: 35px;
  width: 35px;
  margin-right: 15px;
  margin-top: auto;
}

/* Button styling */

#button-format-orange {
  background-image: linear-gradient(rgb(255, 136, 0), rgb(201, 120, 0));
  color: white;
  border-radius: 20px;
  border-width: 0;
}

#button-format-grey {
  background-image: linear-gradient( grey, rgb(66, 66, 66));
  color: white;
  border-radius: 20px;
  border-width: 0;
}

#button-format-add-member {
  background-image: linear-gradient( grey, rgb(66, 66, 66));
  color: white;
  border-radius: 20px;
  margin-right: 15px;
  border-width: 0;
}

#button-format-red {
  background-image: linear-gradient( rgb(228, 0, 0), rgb(161, 0, 0));
  color: white;
  border-radius: 20px;
  border-width: 0;
}

/* Subscribe card & login/signup */

#subscribe-card-layout {
  padding-top: 60px;
  padding-bottom: 60px;
}

#subscribe-card {
  border-radius: 40px;
}

#login-signup-card {
  border-radius: 40px;
}